<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="shortcut icon" href="/images/favicon.ico">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">Home</a>
              <a class="extra" href="/about">About</a>
              <a class="extra" href="/contact">Contact</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Wubin Qu
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="mailto:quwubin@gmail.com">Email</a>
                  &sdot;
                  <a href="http://github.com/quwubin/">Github</a>
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
